@model FlightTickets.Models.Ticket

@{
    ViewData["Title"] = "Create";
}
<div style="display: flex; align-items: center;">
    <img src="~/photos/tickets.png" width="200px" height="130px" style="margin-bottom: 20px;">
    <h3 style="margin-left: 40px;">Get a Ticket</h3>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <h4>Passenger Info</h4>
            <div class="form-group">
                <label asp-for="PassengerId">Passenger Identification Number</label>
                <select asp-for="PassengerId" class="form-control" asp-items="ViewBag.PassengerId"></select>
            </div>
            <p>
                Note: For all the passengers registered from this account, you are able to see the identification number <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">here</a>.
                If you don't have or don't know the passenger's identification number, you will need to make passenger registration first.
                <br>
                <a asp-area="" asp-controller="Passengers" asp-action="Create">Make passenger registration</a>
            </p>
            <hr>
            <h4>Flight Info</h4>
            <div class="form-group">
                <label asp-for="FlightId">Flight Identification Number</label>
                Find your Flight Identification Number <a asp-area="" asp-controller="Flights" asp-action="Index">here</a>.
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber">Seat Number</label>
                <input asp-for="SeatNumber" class="form-control" />
            </div>
            <p>
                After successfully boooking a flight, we are going to send a confirmation message for the reservation. You can see it on the 'My Tickets' page.
                Do not delete the message, you will need to show that as a proof for this reservation. If you don't get that kind message after
                24 hours, please contact us at: simona@tickets.com
            </p>
            <span asp-validation-for="SeatNumber" class="text-danger"></span><br>
            <button type="submit" class="btn btn-primary">Purchase</button>
            @if (TempData["IsBookingSuccessful"] != null && (bool)TempData["IsBookingSuccessful"])
            {
                <script>
                    alert('Flight booked successfully!');
                </script>
            }
        </form>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
