@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <img src="~/photos/airport.png" alt="airport.png">
    <div style=" font-size: 24px; color: #666; margin-top: 10px;">
        Journey with Comfort, Explore with Style
    </div>
    <a class="button" href="#">Book a Flight</a>

</div>
