@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <img src="~/photos/airport.png" alt="airport.png">
    <div style=" font-size: 24px; color: #666; margin-top: 10px;">
        Journey with Comfort, Explore with Style
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="button" asp-area="" asp-controller="Tickets" asp-action="Create">Book a Flight</a>
    } else
    {
        <a class="button" asp-area="Identity" asp-page="/Account/Login">Book a Flight</a>
    } 
</div>
