@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    When you visit our Website, register an account, contact us, make bookings or travel with us, we will
    process your personal data to provide you with our services and for the additional purposes identified below.
</p>
<p>
    The personal information we gather is essential for organising this type of service and handling flight reservations.
    If you do not provide us the requested personal information, we may not be able to provide you with all or parts
    of the services you have requested from us.
</p>
<p>
    If we wish to use your personal data for a new purpose, not covered by this Privacy Policy, we will provide 
    you with an updated notice explaining all conditions relating to the new processing prior to the new processing
    takes place.
</p>
